<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false"
                           pattern="%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} [%t] %highlight{${LOG_LEVEL_PATTERN:-%5p}}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=green bold, TRACE=blue} %style{}{magenta} [%M] %style{%40C}{cyan} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%xEx}"/>
        </Console>
    </Appenders>
    <Loggers>
        <!--        <Logger name="com.greentree.engine.moon.assets" level="all">-->
        <!--            <MarkerFilter marker="assets" onMatch="ACCEPT" onMismatch="DENY"/>-->
        <!--            <AppenderRef ref="Console"/>-->
        <!--        </Logger>-->
        <Root level="all">
            <AppenderRef ref="Console" level="debug"/>
        </Root>
    </Loggers>
</Configuration>